<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSEmployeeAttendance25.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <CSEmployeeAttendance25.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=.\SQLEXPRESS22;Database=EmBMAttendanceDB;Trusted_Connection=True;TrustServerCertificate=True;
</value>
            </setting>
            <setting name="ConnectionLive" serializeAs="String">
                <value>Data Source=wish.grabweb.in,5422;Initial Catalog=dbX9Y7AB23T4Z2P6W5V;User ID=dbX9Y7ABSCS;Password=Password@1234#$;</value>
            </setting>
        </CSEmployeeAttendance25.Properties.Settings>
    </userSettings>
</configuration>